<div class="container-fluid">
  <%= form_for @order, :url => url_for(:controller => 'client_area', :action => 'save_order'), html: {class: 'container-fluid'}, :method => :POST do |f| %>
      <h2><%= t('order')%> #<%= @order.id %></h2>
      <div class="container">
        <table class="table">
          <thead>
          <tr>
            <th><%= t('description')%> </th>
            <th><%= t('total_value')%></th>
            <th><%= t('delivery_date')%></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= f.text_field :description %></td>
            <td><%= f.text_field :total_value %></td>
            <td><%= f.text_field :delivery_date, id: 'delivery_date', :value => Date.today, :class => 'input-group date form-control' %></td>
          </tr>
          </tbody>
        </table>
        <br>
        <br>
        <table class="table">
          <thead>
          <trrail>
            <th><%= t('select_file')%></th>
            <th><%= t('observations')%></th>
          </trrail>
          </thead>
          <tbody>
          <tr>
            <td><input type="file" class="file"></td>
            <td><%= f.text_area :obs %></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="actions" align="center">
        <%= f.submit t('save') %>

        <!-- Cancel button -->
        <%= button_to t('cancel'), client_area_index_path %>
      </div>


  <% end %>
</div>


<script type="text/javascript">
    $(function () {
        $('#delivery_date').datetimepicker({
            defaultDate: "now",
            format: 'DD-mm-YYYY'
        });
    });
</script>