<div class="container">
  <h2>My Orders</h2>
  <div class="actions" align="right">
    <%= link_to '<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New Order</button>'.html_safe, client_area_new_order_path %>
    <%= form_tag('/search', method: 'get') do %>
        <%= label_tag(:q, 'Search for:') %>
        <%= text_field_tag(:q) %>
        <%= submit_tag('Search') %>
    <% end %>
  </div>
  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#menu1">Pending Orders</a></li>
    <li><a data-toggle="tab" href="#menu2">Canceled Orders</a></li>
    <li><a data-toggle="tab" href="#menu3">Completed Orders</a></li>
    <li class="active"><a data-toggle="tab" href="#home">All Orders</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Orders Made</h3>
      <div class="container">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Order ID</th>
              <th>Description</th>
              <th>Order Date</th>
              <th>Total Value</th>
              <th>Delivery Date</th>
              <th>Order Status</th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |order| %>
                <tr>
                  <td><%= link_to order.id, client_area_view_order_path(order.id) %></td>
                  <td><%=h order.description %></td>
                  <td><%=h order.order_date %></td>
                  <td><%=h number_to_currency(order.total_value, unit: '€', separator: ',', delimiter: '.') %></td>
                  <td><%=h order.delivery_date %></td>
                  <td><%=h order.order_status.description %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Pending Orders</h3>
      <div class="container">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Order ID</th>
              <th>Description</th>
              <th>Order Date</th>
              <th>Total Value</th>
              <th>Delivery Date</th>
              <th>Order Status</th>
            </tr>
            </thead>
            <tbody>
            <% @pending_orders.each do |order| %>
                <tr>
                  <td><%= link_to order.id, client_area_view_order_path(order.id) %></td>
                  <td><%=h order.description %></td>
                  <td><%=h order.order_date %></td>
                  <td><%=h number_to_currency(order.total_value, unit: '€', separator: ',', delimiter: '.') %></td>
                  <td><%=h order.delivery_date %></td>
                  <td><%=h order.order_status.description %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      </div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Orders Canceled</h3>
      <div class="container">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Order ID</th>
              <th>Description</th>
              <th>Order Date</th>
              <th>Total Value</th>
              <th>Delivery Date</th>
              <th>Order Status</th>
            </tr>
            </thead>
            <tbody>
            <% @cancelled_orders.each do |order| %>
                <tr>
                  <td><%= link_to order.id, client_area_view_order_path(order.id) %></td>
                  <td><%=h order.description %></td>
                  <td><%=h order.order_date %></td>
                  <td><%=h number_to_currency(order.total_value, unit: '€', separator: ',', delimiter: '.') %></td>
                  <td><%=h order.delivery_date %></td>
                  <td><%=h order.order_status.description %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      </div>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Completed Orders</h3>
      <div class="container">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Order ID</th>
              <th>Description</th>
              <th>Order Date</th>
              <th>Total Value</th>
              <th>Delivery Date</th>
              <th>Order Status</th>
            </tr>
            </thead>
            <tbody>
            <% @completed_orders.each do |order| %>
                <tr>
                  <td><%= link_to order.id, client_area_view_order_path(order.id) %></td>
                  <td><%=h order.description %></td>
                  <td><%=h order.order_date %></td>
                  <td><%=h number_to_currency(order.total_value, unit: '€', separator: ',', delimiter: '.') %></td>
                  <td><%=h order.delivery_date %></td>
                  <td><%=h order.order_status.description %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>