<div class="container-fluid">
    <%= form_for @order, :url => url_for(:controller => 'client_area', :action => 'save_order'), html: {class: 'container-fluid'} do |f| %>
  <h2>New Order</h2>
  <div class="container">
      <table class="table">
      <thead>
      <tr>
        <th>Description</th>
        <th>Total value</th>
        <th>Delivery Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td><%= f.text_field :description %></td>
          <td><%= f.text_field :total_value %></td>
          <td><%= f.text_field :delivery_date, id: 'delivery_date', :value => Date.today, :class => 'input-group date form-control' %></td>
      </tr>
      </tbody>
      </table>
    <br>
    <br>
    <table class="table">
      <thead>
      <trrail>
        <th>Select File</th>
        <th>Observations</th>
      </trrail>
      </thead>
      <tbody>
      <tr>
        <td><input type="file" class="file"></td>
        <td><%= f.text_area :obs %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="actions" align="center">
  <%= f.submit t('save') %>

  <!-- Cancel button -->
    <%= button_to 'Cancel', client_area_index_path %>
  </div>


  <% end %>
  </div>


<script type="text/javascript">
    $(function () {
        $('#delivery_date').datetimepicker({
            defaultDate: "now",
            format: 'DD-mm-YYYY'
        });
    });
</script>

