<div class="container-fluid">
    <%= form_for @order, :url => url_for(:controller => 'client_area', :action => 'save_order'), html: {class: 'container-fluid'} do |f| %>
  <h2>New Order</h2>

  <div class="container">
      <table class="table">
      <thead>
      <tr>
        <th>Total value</th>
        <th></th>
        <th>Delivery Date</th>
      </tr>
      </thead>
      <tbody>
      <tr>
          <td><%= f.text_field :total_value %></td>
          <td></td>
          <td><%= f.text_field :delivery_date, :id => 'datepicker', :value => Date.today %></td>
      </tr>
      </tbody>
      </table>
    <br>
    <br>
    <table class="table">
      <thead>
      <tr>
        <th>Select File</th>
        <th>Observations</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="file" class="file"></td>
        <td><%= f.text_area :obs %></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="actions" align="center">
  <%= f.submit t('save') %>
  </div>



  <% end %>
  </div>


  <script>
      $('#datepicker').datepicker({format: 'dd-mm-yyyy'});
  </script>

