<div class="container-fluid">
    <%= form_for @order, :url => url_for(:controller => 'client_area', :action => 'save_order'), html: {class: 'container-fluid'} do |f| %>
  <h2>New Order</h2>
  <div class="col-sm-13">
      <%=	f.label :total_value %>
      <%= f.text_field :total_value %>
  </div>
  <div class="fileinputs">Escolher ficheiro <input type="file" class="file"></div>
  <div>
      <div class="input-group date">
          <%= f.label :delivery_date %>
          <%= f.text_field :delivery_date, :id => 'datepicker', :value => Date.today %>
      </div>
  </div>
  <div>
    <%=	f.label :obs %>
    <%= f.text_area :obs %>
  </div>
      <%= f.submit t('save') %>
    <% end %>
</div>


<script>
    $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>