<div class="container-fluid">
      <h2><%= t('order')%> #<%= @order.id %></h2>
      <div class="container">
        <table class="table">
          <thead>
          <tr>
            <th><%= t('description')%> </th>
            <th><%= t('total_value')%></th>
            <th><%= t('delivery_date')%></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @order.description %></td>
            <td><%= number_to_currency(@order.total_value, unit: '€', separator: ',', delimiter: '.') %></td>
            <td><%= @order.delivery_date.strftime('%d-%m-%Y') rescue nil %></td>
          </tr>
          </tbody>
        </table>
        <br>
        <br>
        <table class="table">
          <thead>
          <trrail>
            <th><%= t('invoice_ref')%></th>
            <th><%= t('select_file')%></th>
            <th><%= t('observations')%></th>
          </trrail>
          </thead>
          <tbody>
          <tr>
            <td><% if @old_order %>
                  <%= @old_order.description %>
              <% end %></td>
            <td><input type="file" class="file"></td>
            <td><%= @order.obs %></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="actions" align="center">
        <!-- Delete button -->
       <li> <%= button_to t('delete'), client_area_destroy_order_path(order_id: @order.id), method: 'POST'%>
        <!-- Edit button -->
        <%= button_to t('edit'), client_area_edit_order_path(order_id: @order.id) %>
        <!-- Cancel button -->
        <%= button_to t('cancel'), client_area_index_path %>
       </li>
      </div>

</div>


