<div class="container-fluid">
      <h2>My Order #<%= @order.id %></h2>
      <div class="container">
        <table class="table">
          <thead>
          <tr>
            <th>Description</th>
            <th>Total value</th>
            <th>Delivery Date</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><%= @order.description %></td>
            <td><%= @order.total_value %></td>
            <td><%= @order.delivery_date.strftime('%d-%m-%Y') rescue nil %></td>
          </tr>
          </tbody>
        </table>
        <br>
        <br>
        <table class="table">
          <thead>
          <trrail>
            <th>Reference</th>
            <th>Select File</th>
            <th>Observations</th>
          </trrail>
          </thead>
          <tbody>
          <tr>
            <td><% if @old_order %>
                  <%= @old_order.description %>
              <% end %></td>
            <td><input type="file" class="file"></td>
            <td><%= @order.obs %></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="actions" align="center">
        <!-- Delete button -->
        <%= button_to 'Delete', client_area_destroy_order_path(order_id: @order.id), method: 'POST'%>
        <!-- Edit button -->
        <%= button_to 'Edit', client_area_edit_order_path(order_id: @order.id) %>
        <!-- Cancel button -->
        <%= button_to 'Cancel', client_area_index_path %>
      </div>

</div>


