<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="<%= asset_path 'shoe1.jpg' %>" alt="Shoe 1" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Class</h3>
          <p>Peace.</p>
        </div>
      </div>

      <div class="item">
        <img src="<%= asset_path 'shoe2.jpg' %>" alt="Shoe 2" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Beauty</h3>
          <p>Energy.</p>
        </div>
      </div>

      <div class="item">
        <img src="<%= asset_path 'shoe4.jpg' %>" alt="Shoe 3" width="1200" height="700">
        <div class="carousel-caption">
          <h3>Confortable</h3>
          <p>Passion.</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
  <hr>
  <!-- Container (The Joia da Europa Section) -->
  <div id="about" class="container text-center">
    <h3>About Us</h3>
    <%= t('about_us') %>
    <br>
  </div>
  <hr>
  <!-- Container (Mission Section) -->
  <div id="mission" class="container text-center">
    <h3>Mission</h3>
    <%= t('mission') %>
    <br>
  </div>
  <hr>
<!-- Container (Contact Section) -->
<div id="contacts" class="container">
  <h3 class="text-center">Contacts</h3>
  <div class="row">
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-map-marker"></span> Rua Santa Maria, 437 Barrosas 4650-139 Idães Felgueiras</p>
      <p><span class="glyphicon glyphicon-phone"></span>Telefone:+351 255 312 443</p>
      <p><span class="glyphicon glyphicon-phone"></span>Fax:+351 255 312 444</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: geral@joiadaeuropa.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comentaries" name="comentaries" placeholder="Comentaries" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <script>
      $(document).ready(function(){
          // Initialize Tooltip
          $('[data-toggle="tooltip"]').tooltip();
          // Add smooth scrolling to all links in navbar + footer link
          $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
              // Make sure this.hash has a value before overriding default behavior
              if (this.hash !== "")
                  // Prevent default anchor click behavior
                  event.preventDefault();
                  // Store hash
                  var hash = this.hash;
                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                      scrollTop: $(hash).offset().top
                  }, 900, function(){
                      // Add hash (#) to URL when done scrolling (default click behavior)
                      window.location.hash = hash;
                  });
              } // End if
          });
      })
  </script>

  <!--<= link_to t('my_account'), profile_index_path %-->
</div>